@model BugTracker.Models.CodeFirst.TicketComment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-box">
    <h2 class="text-info">Create New Ticket Comment</h2>
    <hr />
    @using (Html.BeginForm("Create", "TicketComments", new { ticketId = ViewBag.ticketId }, FormMethod.Post)) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-info" />
            </div>
        </div>
    </div>
}
    <br />
    <hr />
<div>
    @Html.ActionLink("Back to Ticket", "Details", "Tickets", new { id = ViewBag.ticketId }, null)
</div>
</div>