<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/favicon.png">
    <title>BugTracker</title>
    <!-- ===== Bootstrap CSS ===== -->
    @*<link href="~/Content/Theme Files/_Cubic/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- ===== Plugin CSS ===== -->
    <link href="~/Content/Theme Files/_Cubic/plugins/components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/Content/Theme Files/_Cubic/plugins/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href='~/Content/Theme Files/_Cubic/plugins/components/fullcalendar/fullcalendar.css' rel='stylesheet'>
    <!-- ===== Animation CSS ===== -->
    <link href="~/Content/Theme Files/_Cubic/css/animate.css" rel="stylesheet">
    <!-- ===== Custom CSS ===== -->
    <link href="~/Content/Theme Files/_Cubic/css/style.css" rel="stylesheet">
    <!-- ===== Color CSS ===== -->
    <link href="~/Content/Theme Files/_Cubic/css/colors/red.css" id="theme" rel="stylesheet">
    <link href="~/Content/Theme Files/_Cubic/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/CSS/Site.css" rel="stylesheet" />
    <link href="~/Content/CSS/font-awesome.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

</head>

<body class="mini-sidebar fix-header">
    <!-- ===== Main-Wrapper ===== -->
    <div id="wrapper">
        <div class="preloader">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <!-- ===== Top-Navigation ===== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle font-20 hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="top-left-part">
                    <a class="logo" href="/Home/Index">
                        <b>
                            <img src="~/Content/Images/logo - 32x32.png" alt="home" />
                        </b>
                        <span>
                            @*<img src="~/Content/Theme Files/_Cubic/plugins/images/logo-text.png" alt="homepage" class="dark-logo" />*@
                            BugTracker
                        </span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li>
                        <a href="javascript:void(0)" class="sidebartoggler font-20 waves-effect waves-light"><i class="icon-arrow-left-circle"></i></a>
                    </li>
                    @*<li>
                        <form role="search" class="app-search hidden-xs">
                            <i class="icon-magnifier"></i>
                            <input type="text" placeholder="Search..." class="form-control">
                        </form>
                    </li>*@
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <!-- User Management Menu Item -->
                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light font-20 profile " data-toggle="dropdown" href="javascript:void(0);" aria-expanded="true">
                            <i class="icon-settings"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks animated bounceInDown flipInY">
                            @*@if (Request.IsAuthenticated) {*@
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/Manage/Index"><i class="fa fa-cog"></i> Account Settings</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li style="padding-top:15px; padding-bottom:15px;">
                                        @using (Html.BeginForm("LogOff", "Account", new { returnUrl = Request.Url }, FormMethod.Post, new { id = "logoutForm", })) {
                                            @Html.AntiForgeryToken()
                                            <span ><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Log Out</a></span>                                        }
                                    </li>
                            @*}*@
                            @*@if (Request.IsAuthenticated) {
                                using (Html.BeginForm("LogOff", "Account", new { returnUrl = Request.Url }, FormMethod.Post, new { id = "logoutForm", })) {
                                    @Html.AntiForgeryToken()
                                    <li><a href="/Manage/Index" title="Manage"><i class="ti-settings m-r-5"></i>@ViewBag.FullName</a></li>
                                    <li><br /></li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="ti-power-off m-r-5"></i>Log Out</a></li>
                                }
                            }*@
                            @*else {   This should never bee seen as all logged out users should be redirected to the landing/login page 
                                <li>
                                    <a href="/Account/Register?returnUrl=http%3A%2F%2Flocalhost%3A49841%2F" id="registerLink"><i class="ti-user m-r-5"></i>Register</a>
                                </li>
                                <li>
                                    <a href="/Account/Login?ReturnUrl=%2F" id="loginLink"><i class="ti-power-off m-r-5"></i>Login</a>
                                </li>
                            }*@
                        </ul>
                    </li>
                    <li class="divider"></li>

                    <!--
                    <li class="right-side-toggle">
                        <a class="right-side-toggler waves-effect waves-light b-r-0 font-20" href="javascript:void(0)">
                            <i class="icon-settings"></i>
                        </a>
                    </li>
                    -->
                </ul>
            </div>
        </nav>
        <!-- ===== Top-Navigation-End ===== -->
        <!-- ===== Left-Sidebar ===== -->
        <aside class="sidebar">
            <div class="scroll-sidebar">
                <div class="user-profile">
                    <div class="dropdown user-pro-body">
                        <div class="profile-image">
                            <img src="~/Content/Images/electric-bug-zapper-612x630.jpg" alt="user-img" class="img-circle">
                            @*<a href="javascript:void(0);" class="dropdown-toggle u-dropdown text-blue" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="badge badge-danger">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated flipInY">
                                <li role="separator" class="divider"></li>
                                <li><a href="/Manage/Index"><i class="fa fa-cog"></i> Account Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>*@
                        </div>
                        <p class="profile-text m-t-15 font-16"><a href="/Manage/Index"> @ViewBag.FullName</a></p>
                    </div>
                </div>
                <nav class="sidebar-nav">
                    <ul id="side-menu">
                        <li>
                            <a class="active waves-effect" href="/Home/Index" aria-expanded="false"><i class="fa fa-television col-xs-1" style="padding-top: 4px;"></i>&nbsp;<span class="hide-menu col-xs-offset-1"> Dashboard </span></a>
                        </li>
                        <li>
                            <a class="active waves-effect" href="/Projects/Index" aria-expanded="false"><i class="fa fa-cubes col-xs-1" style="padding-top: 4px;"></i>&nbsp;<span class="hide-menu col-xs-offset-1"> Projects </span></a>
                        </li>
                        <li>
                            <a class="active waves-effect" href="/Tickets/Index" aria-expanded="false"><i class="fa fa-tasks col-xs-1" style="padding-top: 4px;"></i>&nbsp;<span class="hide-menu col-xs-offset-1"> Tickets </span></a>
                        </li>
                        <li>
                            <a class="active waves-effect" href="/Admin/Index" aria-expanded="false"><i class="fa fa-user-circle col-xs-1" style="padding-top: 4px;"></i> &nbsp;<span class="hide-menu col-xs-offset-1"> User Administration </span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- ===== Left-Sidebar-End ===== -->
        <!-- ===== Page-Content ===== -->
        <!-- Page Content -->
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>        <!-- ===== Page-Content-End ===== -->
            <footer class="footer t-a-c">
                © 2017 Casey L. Jones
            </footer>

        </div>
    </div>
    <!-- ===== Main-Wrapper-End ===== -->
    <!-- ==============================
        Required JS Files
    =============================== -->
    <!-- ===== jQuery ===== -->
    <script src="~/Content/Theme Files/_Cubic/plugins/components/jquery/dist/jquery.min.js"></script>
    <!-- ===== Bootstrap JavaScript ===== -->
    <script src="~/Content/Theme Files/_Cubic/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ===== Slimscroll JavaScript ===== -->
    <script src="~/Content/Theme Files/_Cubic/js/jquery.slimscroll.js"></script>
    <!-- ===== Wave Effects JavaScript ===== -->
    <script src="~/Content/Theme Files/_Cubic/js/waves.js"></script>
    <!-- ===== Menu Plugin JavaScript ===== -->
    <script src="~/Content/Theme Files/_Cubic/js/sidebarmenu.js"></script>
    <!-- ===== Custom JavaScript ===== -->
    <script src="~/Content/Theme Files/_Cubic/js/custom.js"></script>
    <!-- ===== Plugin JS ===== -->
    @*<script src="~/Content/Theme Files/_Cubic/plugins/components/chartist-js/dist/chartist.min.js"></script>
    <script src="~/Content/Theme Files/_Cubic/plugins/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <script src='~/Content/Theme Files/_Cubic/plugins/components/moment/moment.js'></script>
    <script src='~/Content/Theme Files/_Cubic/plugins/components/fullcalendar/fullcalendar.js'></script>
    <script src="~/Content/Theme Files/_Cubic/js/db2.js"></script>*@
    <!-- ===== Style Switcher JS ===== -->
    <script src="~/Content/Theme Files/_Cubic/plugins/components/styleswitcher/jQuery.style.switcher.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>
