@model BugTracker.Models.Helpers.AdminUserViewModels
@{
    ViewBag.Title = "EditUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/Content/MultiSelect/multiselect.css" rel="stylesheet" />
    }
<div class="white-box">
    @using (Html.BeginForm("EditUserRoles", "Admin", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.User.Id)

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="text-info">Modify/Assign Roles For:</span> &nbsp;<b>@Html.DisplayFor(model => Model.User.FullName)</b></h4>
                    <hr />
                    @Html.ListBox("AssignedRoles", Model.Roles, new { @class = "multi-select" })
                    <br />
                    <input type="submit" value="Assign Roles" class="btn btn-secondary " style="margin-top: 0px; background-color:green; color:white; text-align:center;" />
                </div>
            </div>
        </div>
    </div>
}
    <hr />
    <div style="margin-top: 40px">
        @Html.ActionLink("Back to User List", "Index")
    </div>
</div>
@section Scripts {
<script type="text/javascript" src="~/Content/MultiSelect/multiselect.js"></script>
<script type="text/javascript">
    $(function () {
        "use strict";
        $('.multi-select').multiSelect({
            selectableHeader: "<div style='text-align: center; background-color: lightgreen; color: white!important'><strong>Available Roles</strong></div>",
            selectionHeader: "<div style='text-align: center; background-color: lightblue; color: white'><strong>Current Roles</strong></div>"
        });
        $(".ms-container").append('<i class="glyph-icon icon-exchange"></i>');

    });
</script>
}
