@model BugTracker.Models.Helpers.ProjectUserViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="white-box">
    <h2 class="text-info">@Html.DisplayFor(model => model.Project.Title)</h2>
    <h6>@Html.DisplayFor(model => model.Project.Description)</h6>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Project.Created)</dt>
        <dd>@Html.DisplayFor(model => model.Project.Created)</dd>

        <dt>@Html.DisplayNameFor(model => model.Project.Updated)</dt>
        <dd>@Html.DisplayFor(model => model.Project.Updated)</dd>

        <dt>@Html.DisplayNameFor(model => model.Project.AuthorId)</dt>
        <dd>@Html.DisplayFor(model => model.ProjectOwner)</dd>

        <dt>Assigned Users</dt>

        @foreach (var user in Model.AssignedUsersList) {
            <dd>@user.FullName</dd>
        }
    </dl>
    <br />
    <hr />
    <span>
        @Html.ActionLink("Edit", "Edit", new { id = @Model.ProjectId }) |
        @Html.ActionLink("Back to List", "Index")
    </span>
</div>
