@model BugTracker.Models.Helpers.ProjectsListViewModel
@{
    ViewBag.Title = "Home Page";
}
@section styles {
    <!-- ===== Plugin CSS ===== -->
    <link rel="stylesheet" type="text/css" href="../plugins/components/gallery/css/animated-masonry-gallery.css" />
    <link rel="stylesheet" type="text/css" href="../plugins/components/fancybox/ekko-lightbox.min.css" />
}

@if (User.Identity.IsAuthenticated) {
    if (User.IsInRole("Admin")) {
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="white-box">
                    <ul class="nav nav-tabs tabs customtab">

                        <li class="active col-xs-3 btn btn-primary">
                            <a href="#adminAllProjects" data-toggle="tab"><span>All Active Projects</span> </a>
                        </li>
                        <li class="col-xs-1">&nbsp;</li>
                        <li class="tab col-xs-3 btn btn-danger">
                            <a href="#adminUnassigned" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-home"></i></span> <span class="hidden-xs">All Unassigned Projects</span> </a>
                        </li>
                        <li class="col-xs-1">&nbsp;</li>
                        @if (User.IsInRole("Developer")) {
                            <li class="tab col-xs-3 btn btn-success">
                                <a href="#adminMyProjects" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-home"></i></span> <span class="hidden-xs">My Assigned Projects</span> </a>
                            </li>
                        }
                        <li class="col-xs-1">&nbsp;</li>
                    </ul>

                    <div class="tab-content">
                        <!-- ADMIN - All Active Projects -->
                        @if (User.IsInRole("Admin")) {
                            <div class="tab-pane active" id="adminAllProjects">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <h3 class="header-title m-t-0 m-b-30">All Active Projects</h3>
                                            <table id="datatable_adminAllProjects" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Title)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Description)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Created)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Updated)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).AuthorId)</th>
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.AllProjects != null) {
                                                        foreach (var item in Model.AllProjects) {
                                                            <tr>
                                                                <td><a href="/Projects/Details/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></td>
                                                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Updated)</td>
                                                                <td>@Html.DisplayFor(modelItem => Model.ProjectAuthors.First(u => u.Id == item.AuthorId).FullName)</td>
                                                                <td>
                                                                    <span class="btn btn-info">@Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, null)</span> &nbsp;
                                                                    <span class="btn btn-success">@Html.ActionLink("Assign Users", "ProjectUser", "Projects", new { id = item.Id }, null)</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- end col -->
                                </div>
                            </div>
                        }
                        <hr />

                        <!--ADMIN - All Unassigned Projects -->
                        @if (User.IsInRole("Admin")) {
                            <div class="tab-pane" id="adminUnassigned">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <h3 class="header-title m-t-0 m-b-30">All Unassigned Projects</h3>
                                            <table id="datatable_adminUnassigned" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Title)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Description)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Created)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Updated)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).AuthorId)</th>
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.AllProjects != null) {
                                                        foreach (var item in Model.AllProjects.Where(p => p.Users.Count <= 0)) {
                                                            <tr>
                                                                <td><a href="/Projects/Details/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></td>
                                                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Updated)</td>
                                                                <td>@Html.DisplayFor(modelItem => Model.ProjectAuthors.First(u => u.Id == item.AuthorId).FullName)</td>
                                                                <td>
                                                                    <span class="btn btn-info">@Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, null)</span> &nbsp;
                                                                    <span class="btn btn-success">@Html.ActionLink("Assign Users", "ProjectUser", "Projects", new { id = item.Id }, null)</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- end col -->
                                </div>
                            </div>
                        }
                        <hr />

                        <!--ADMIN - My Assigned Projects -->
                        @if (User.IsInRole("Admin")) {
                            <div class="tab-pane" id="adminMyProjects">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <h3 class="header-title m-t-0 m-b-30">My Assigned Projects</h3>
                                            <table id="datatable_adminMyProjects" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Title)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Description)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Created)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Updated)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).AuthorId)</th>
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.UserProjects != null) {
                                                        foreach (var item in Model.UserProjects) {
                                                            <tr>
                                                                <td><a href="/Projects/Details/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></td>
                                                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Updated)</td>
                                                                <td>@Html.DisplayFor(modelItem => Model.ProjectAuthors.First(u => u.Id == item.AuthorId).FullName)</td>
                                                                <td>
                                                                    <span class="btn btn-info">@Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, null)</span> &nbsp;
                                                                    <span class="btn btn-success">@Html.ActionLink("Assign Users", "ProjectUser", "Projects", new { id = item.Id }, null)</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- end col -->
                                </div>
                            </div>
                        }
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    }
    else {
        <!-- All  Other Roles - My Tickets-->
        if (User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter")) {
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="white-box">
                        <ul class="nav nav-tabs tabs customtab">
                            <li class=" active tab btn btn-success">
                                <a href="#allMyProjects" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-home"></i></span> <span class="hidden-xs">My Submitted Tickets</span> </a>
                            </li>
                        </ul>

                        <!-- My Assigned Projects -->
                        @if (User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter")) {
                            <div class="tab-pane" id="allMyProjects">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <h3 class="header-title m-t-0 m-b-30">My Submitted Tickets</h3>
                                            <table id="datatable_allMyProjects" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Title)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Description)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Created)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).Updated)</th>
                                                        <th>@Html.DisplayNameFor(model => model.AllProjects.First(p => p.Id > 0).AuthorId)</th>
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.UserProjects != null) {
                                                        foreach (var item in Model.UserProjects) {
                                                            <tr>
                                                                <td><a href="/Projects/Details/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></td>
                                                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Updated)</td>
                                                                <td>@Html.DisplayFor(modelItem => Model.ProjectAuthors.First(u => u.Id == item.AuthorId).FullName)</td>
                                                                <td>
                                                                    <span class="btn btn-info">@Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, null)</span> &nbsp;
                                                                    <span class="btn btn-success">@Html.ActionLink("Assign Users", "ProjectUser", "Projects", new { id = item.Id }, null)</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- end col -->
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        }
    }

    @section Scripts {
        <!-- DataTables -->
        <script src="~/Content/DataTables/datatables.min.js"></script>

        <!-- Sort by Created Date -->
        <script>$("#datatable_adminAllProjects").DataTable({ "order": [[2, 'desc']] });</script>
        <script>$("#datatable_adminUnassigned").DataTable({ "order": [[2, 'desc']] });</script>
        <script>$("#datatable_adminMyProjects").DataTable({ "order": [[2, 'desc']] });</script>
        <script>$("#datatable_allMyProjects").DataTable({ "order": [[2, 'desc']] });</script>
    }
}
