@model BugTracker.Models.ApplicationUser

@using (Html.BeginForm("EditProfile", "Manage", new { firstName = Model.FirstName, lastName = Model.LastName, email = Model.Email, id = Model.Id }, FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <h4> Edit Your Profile</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @*@Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.AccessFailedCount)
    @Html.HiddenFor(model => model.Claims)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Claims)
    @Html.HiddenFor(model => model.EmailConfirmed)
    @Html.HiddenFor(model => model.LockoutEnabled)
    @Html.HiddenFor(model => model.LockoutEndDateUtc)
    @Html.HiddenFor(model => model.Logins)
    @Html.HiddenFor(model => model.PasswordHash)
    @Html.HiddenFor(model => model.PhoneNumber)
    @Html.HiddenFor(model => model.PhoneNumberConfirmed)
    @Html.HiddenFor(model => model.Projects)
    @Html.HiddenFor(model => model.Roles)
    @Html.HiddenFor(model => model.SecurityStamp)
    @Html.HiddenFor(model => model.TicketAttachments)
    @Html.HiddenFor(model => model.TicketComments)
    @Html.HiddenFor(model => model.TicketHistories)
    @Html.HiddenFor(model => model.TwoFactorEnabled)
    @Html.HiddenFor(model => model.UserName)*@


    <!-- FirstName -->
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <!-- LastName -->
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>

    <!-- ProfilePic -->
    @*<div class="form-group">
        <label class="control-label col-md-2" style="text-align:right;">Upload Picture</label>
        <div class="col-md-10">
            @if (Model.ProfilePic != null) {
                <div class="post-image opacity"><img src="@Url.Content(@Model.ProfilePic)" width="1170" height="382" alt="" title=""></div>
            }
            <input name="media" type="file" class="form-control No_Horizontal_Padding" style="padding-left: 0px; border:none; outline:none;" />
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save" />
        </div>
    </div>
    }