@using BugTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                //Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="QuickLogins">
            @using (Html.BeginForm("Login", "Account", new { Email = "DemoAdmin@coderfoundry.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-purple" value="DemoAdmin" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "DemoProjectManager@coderfoundry.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-danger" value="DemoProjectManager" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "DemoDeveloper@coderfoundry.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-success" value="DemoDeveloper" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "DemoSubmitter@coderfoundry.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-primary" value="DemoSubmitter" style="width:200px" />
            }

            <br />

            @using (Html.BeginForm("Login", "Account", new { Email = "1stAdmin@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-purple" value="1stAdmin" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "1stProjectManager@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-danger" value="1stProjectManager" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "1stDeveloper@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-success" value="1stDeveloper" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "1stSubmitter@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-primary" value="1stSubmitter" style="width:200px" />
            }

            <br />

            @using (Html.BeginForm("Login", "Account", new { Email = "2ndAdmin@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-purple" value="2ndAdmin" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "2ndProjectManager@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-danger" value="2ndProjectManager" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "2ndDeveloper@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-success" value="2ndDeveloper" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "2ndSubmitter@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-primary" value="2ndSubmitter" style="width:200px" />
            }

            <br />

            @using (Html.BeginForm("Login", "Account", new { Email = "3rdAdmin@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-purple" value="3rdAdmin" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "3rdProjectManager@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-danger" value="3rdProjectManager" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "3rdDeveloper@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-success" value="3rdDeveloper" style="width:200px" />
            }

            @using (Html.BeginForm("Login", "Account", new { Email = "3rdSubmitter@test.com", Password = "BugTracker8**" })) {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-primary" value="3rdSubmitter" style="width:200px" />
            }


        </section>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>