@model BugTracker.Models.RegisterViewModel
@{
    Layout = null;
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/favicon.png">
        <title>Register</title>
        <!-- STYLESHEETS -->
        <style type="text/css">
            [fuse-cloak],
            .fuse-cloak {
                display: none !important;
            }
        </style>
        <!-- Icons.css -->
        <link type="text/css" rel="stylesheet" href="~/Content/Theme Files/From Other Templates/icons/fuse-icon-font/style.css">
        <!-- Animate.css -->
        <link type="text/css" rel="stylesheet" href="~/Content/Theme Files/From Other Templates/vendor/animate.css/animate.min.css">
        <!-- PNotify -->
        <link type="text/css" rel="stylesheet" href="~/Content/Theme Files/From Other Templates/vendor/pnotify/pnotify.custom.min.css">
        <!-- Nvd3 - D3 Charts -->
        <link type="text/css" rel="stylesheet" href="~/Content/Theme Files/From Other Templates/vendor/nvd3/build/nv.d3.min.css" />
        <!-- Perfect Scrollbar -->
        <link type="text/css" rel="stylesheet" href="~/Content/Theme Files/From Other Templates/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" />
        <!-- Fuse Html -->
        <link type="text/css" rel="stylesheet" href="~/Content/Theme Files/From Other Templates/vendor/fuse-html/fuse-html.min.css" />
        <!-- Main CSS -->
        <link type="text/css" rel="stylesheet" href="~/Content/Theme Files/From Other Templates/css/main.css">
        <!-- / STYLESHEETS -->
    </head>
    <body>
        <div class="content-wrapper">
            <div class="content">
                <div id="register" class="p-8">
                    <div class="form-wrapper md-elevation-8 p-8">
                        <div class="title mt-4"><h3>BugTracker Registration</h3></div><!-- class (mb-8 main.css ln 1242)-->
                        <div class="title mt-4">Create an account</div><!-- class (mb-8 main.css ln 1242)-->
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="form-group mb-4">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id = "registerFormInputFirstName" })
                            <label for="registerFormInputFirstName">First Name</label>
                        </div>

                        <div class="form-group mb-4">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "registerFormInputLastName" })
                            <label for="registerFormInputLastName">Last Name</label>
                        </div>

                        <div class="form-group mb-4">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "registerFormInputEmail" })
                            <label for="registerFormInputEmail">Email Address</label>
                        </div>

                        <div class="form-group mb-4">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "registerFormInputPassword" })
                            <label for="registerFormInputPassword">Password</label>
                        </div>

                        <div class="form-group mb-4">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "registerFormInputPasswordConfirm" })
                            <label for="registerFormInputConfirm">Confirm Password</label>
                        </div>

                        <div class="form-group mb-4">
                            @Html.DropDownList("TimeZone", null, new { @class = "searchable-select", id = "registerFormInputTimeZone" })
                            <label for="registerFormInputTimeZone">Time Zone</label>
                        </div>

                        <div class="terms-conditions row align-items-center justify-content-center pt-4 mb-8">
                            <div class="form-check mr-1 mb-1">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" aria-label="Remember Me" />
                                    <span class="checkbox-icon"></span>
                                    <span>I read and accept</span>
                                </label>
                            </div>
                            <a href="#" class="text-secondary mb-1">terms and conditions</a>
                        </div>

                        <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" value="Register" aria-label="LOG IN">
                            CREATE MY ACCOUNT
                        </button>
                        }
                        <div class="login d-flex flex-column flex-sm-row align-items-center justify-content-center mt-8 mb-6 mx-auto">
                            <span class="text mr-sm-2">Already have an account?</span>
                            <a class="link text-secondary" href="/Account/Login">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/vendor/jquery/dist/jquery.min.js"></script>
        <!-- Mobile Detect -->
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/vendor/mobile-detect/mobile-detect.min.js"></script>
        <!-- Perfect Scrollbar -->
        <script type="text/javascript"
                src="~/Content/Theme Files/From Other Templates/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
        <!-- Popper.js -->
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/vendor/popper.js/index.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/vendor/bootstrap/bootstrap.min.js"></script>
        <!-- Nvd3 - D3 Charts -->
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/vendor/d3/d3.min.js"></script>
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/vendor/nvd3/build/nv.d3.min.js"></script>
        <!-- Data tables -->
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
        <!-- PNotify -->
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/vendor/pnotify/pnotify.custom.min.js"></script>
        <!-- Fuse Html -->
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/vendor/fuse-html/fuse-html.min.js"></script>
        <!-- Main JS -->
        <script type="text/javascript" src="~/Content/Theme Files/From Other Templates/js/main.js"></script>
    </body>
</html>